@import"./global.css";
.find-search-bar-form{
    padding: 0 25px;
}
.find-search-bar-form div{
    width:100%;
}
.find-search-bar{
    margin-top:50px;
    background-color: var(--darkpurple);
    border-radius:25px;
    width:100%;
    padding:10px;
    color:white;
}